<h1>All Historical Figures</h1>
<ul>
  <% @figures.each do |figure| %>
    <a href="/figures/<%= figure.id %>"><li><%= figure.name %></li></a>
  <% end %>
</ul>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>